@use "../../styles/global.scss" as *;
@use "../../styles/variables.scss" as *;
@use "../../styles/mixins.scss" as *;

.error {
  color: $danger;
  font-size: $font-md;
  margin-top: $gap-sm;
  font-weight: bold;
}

.login_page {
  width: 100vw;
  height: 100vh;
  @include flex-center;
  background-color: $background_color_light;
}

.login_container {
  @include flex-center(column, center, center);
  width: 100%;
  max-width: 350px;
  padding: $padding-lg * 2;
  background: $light-bg;
  @include shadow(md);
  border-radius: $radius-md;
  text-align: center;

  h1 {
    font-size: $font-lg;
    color: $primary-color;
    margin-bottom: $gap-md;
  }
}

.form_Grup {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: $gap-md;
}

.email_grup,
.password_grup {
  position: relative;
  width: 100%;
}

input {
  width: 100%;
  padding: $padding-md;
  font-size: $font-md;
  border: 0;
  border-bottom: 2px solid $color_border;
  outline: none;
  background: transparent;
  @include smooth-transition;
  color: $Color_text_dark;

  &:focus {
    border-color: $primary-color;
  }
}

.label_login {
  position: absolute;
  left: $padding-sm;
  top: 50%;
  transform: translateY(-50%);
  transition: $transition-default;
  color: $text-muted;
  font-size: $font-md;
  font-weight: 500;
  pointer-events: none;
}

input:focus + label,
input:not(:placeholder-shown) + label {
  top: 5px;
  font-size: $font-sm;
  color: $primary-color;
}

.button_container {
  display: flex;
  justify-content: center;
  margin-top: $gap-md;
}

button {
  width: 50%;
  padding: $padding-lg 0;
  font-size: $font-md;
  border: none;
  background: $primary-color;
  color: $Color_text_light;
  border-radius: $radius-sm;
  cursor: pointer;
  @include smooth-transition;

  &:hover {
    background: color.adjust($primary-color, $lightness: -10%);
  }
}

@media (max-width: 480px) {
  .login_container {
    padding: $padding-lg;
    max-width: 90%;
  }
  h1 {
    font-size: $font-md;
  }
  input,
  label,
  button {
    font-size: $font-sm;
    padding: $padding-sm;
  }
}

@media (max-width: 768px) {
  .login_container {
    padding: calc(#{$padding-lg} + 5px);
    max-width: 80%;
  }
  input,
  label,
  button {
    font-size: calc(#{$font-sm} + 1px);

  }
}

@media (min-width: 1200px) {
  .login_container {
    max-width: 500px;

    @include shadow(lg);
  }
  h1 {
    font-size: $font-xl;
  }
  input,
  label,
  button {
    font-size: calc(#{$font-md} + 2px);

    
  }
}

@media (min-width: 1600px) {
  .login_container {
    max-width: 650px;
    padding: $padding-lg * 2;
  }
  h1 {
    font-size: calc(#{$font-xl} + 4px);
  }
  input,
  label,
  button {
    font-size: $font-lg;

  }
}