@use "../../styles/global.scss" as *;
@use "../../styles/variables.scss" as *;
@use "../../styles/mixins.scss" as *;

.dashboard_container {
  position: relative;
}

.dashboard_content {
  display: grid;
  grid-template-columns: 1fr 340px;
  gap: $gap-md;
  align-items: flex-start;

  @include respond(tablet) {
    grid-template-columns: 1fr;
  }
  @include respond(mobile) {
    display: flex;
    flex-direction: column-reverse;
  }
}

.filtros_container {
  @include flex-center(row, center, center);
  gap: $gap-lg;
  flex-wrap: wrap;
  padding: $padding-lg;
  background-color: $light-bg;
  border-radius: $radius-lg;
  @include shadow(lg);
  width: fit-content;
  margin: 25px auto;

  label {
    font-size: $font-sm;
    color: $dark-gray;
    margin-bottom: 6px;
    font-weight: 600;
  }

  .filtros {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    gap: 6px;
  }

  select,
  input {
    padding: 10px 14px;
    border-radius: $radius-md;
    border: 1px solid $color_border_light;
    font-size: $font-sm;
    background-color: $text-light;
    box-shadow: $shadow-light;
    @include smooth-transition;

    &:focus {
      outline: none;
      border-color: $primary-color;
      background-color: $light-bg;
      box-shadow: 0 0 0 2px rgba(0, 128, 255, 0.2);
    }
  }
}

.indicadores {
  display: flex;
  align-items: center;
  gap: $gap-sm;
  font-size: $font-sm;
  color: $dark-gray;

  span {
    padding: 4px 8px;
  }

  .separador {
    font-weight: bold;
    font-size: $font-md;
    color: $mid-gray;
  }
}

.disponiveis {
  color: $success;
  font-size: calc(#{$font-sm} + 0.0625rem); // 1px = 0.0625rem
}

.ocupadas {
  color: $danger;
  font-size: calc(#{$font-sm} + 0.0625rem);
}

.input_capacidade,
.input_nome {
  width: 150px;

  @include respond(mobile) {
    width: 100%;
  }
}

.input_nome {
  width: 250px;
}

.cards_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: $gap-md;

  @media (min-width: 1400px) {
    grid-template-columns: repeat(5, 1fr);
  }

  @media (min-width: 1200px) and (max-width: 1399px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (min-width: 837px) and (max-width: 1199px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 836px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include respond(mobile) {
    grid-template-columns: 1fr;
  }
}

.visual_panel {
  position: static;
  gap: $gap-lg;
  min-width: 320px;
  padding: $padding-md;
  background: $light-gray;
  border-top-left-radius: $radius-xl;
  border-bottom-left-radius: $radius-xl;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  height: fit-content;
  box-shadow: inset 6px 6px 12px rgba(0, 0, 0, 0.05),
    inset -6px -6px 12px rgba(255, 255, 255, 0.7);

  h2 {
    text-align: center;
    margin-bottom: 12px;
  }

  @include respond(tablet) {
    width: 100%;
    min-width: auto;
    border-radius: $radius-lg;
  }
}