$backgraund_color_Light: #ffffff;
$backgraund_color_Dark: #000000;
$font_family_primary: 'Barlow', sans-serif;
$Color_text_dark: #000000;
$Color_text_light: #ffffff;
$color_border: #000000;
$color_border_light: #ffffff;
$primary_color: #1E5BFF;
$secondary_color: #1747DB;
$alert_color: #FF4D4F;
$success_color: #52C41A;