$backgraund_color_Light: #ffffff;
$backgraund_color_Dark: #000000;
$font_family_primary: 'Barlow', sans-serif;
$Color_text_dark: #000000;
$Color_text_light: #ffffff;
$color_border: #000000;
$primary_color: #007bff;