@use "../../styles/global.scss" as *;
@use "../../styles/variables.scss" as *;
@use "../../styles/mixins.scss" as *;

.salaCard {
  background-color: $light-gray;
  border-radius: $radius-lg;
  padding: $padding-md;
  box-shadow:
    inset 6px 6px 12px rgba(0, 0, 0, 0.05),
    inset -6px -6px 12px rgba(255, 255, 255, 0.7);

  transition: transform $transition-default;
  width: 200px;

  @include flex-center(column, center, center);

  &:hover {
    transform: scale(1.03);
    transition: transform $transition-default, box-shadow $transition-default;
    box-shadow:
      inset 4px 4px 8px rgba(0, 0, 0, 0.05),
      inset -4px -4px 8px rgba(255, 255, 255, 0.6);
  }

  h3 {
    margin: 0 0 $gap-sm;
    font-size: $font-md;
  }

  p {
    margin: 4px 0;
    font-size: $font-sm;
    color: $text-muted;
  }

  .status {
    display: inline-block;
    margin-top: $gap-sm;
    padding: 0.25rem 0.5rem;
    border-radius: $radius-sm;
    font-weight: bold;
  }
}

.livre .status {
  background-color: $success;
  color: $light-bg;
}

.ocupada .status {
  background-color: $danger;
  color: $light-bg;
}