@use "../../styles/global.scss" as *;
@use "../../styles/variables.scss" as *;
@use "../../styles/mixins.scss" as *;
.notfound_container {
  @include flex-center(column, center, center);
  text-align: center;
  padding: $padding-lg * 2.66; 
  height: 100vh;
  background-color: $text-light;
  gap: calc(#{$gap-md} + 0.5rem);

  h1 {
    font-size: calc(#{$font-xl} * 2.5); 
    color: $primary-color;
  }

  p {
    font-size: calc(#{$font-md} + 0.2rem);
    color: $dark-gray;
  }

  button {
    background-color: $primary-color;
    color: $Color_text_light;
    border: none;
    padding: calc(#{$padding-sm} + 0.25rem) calc(#{$padding-md} + 0.5rem);
    border-radius: $radius-md;
    font-size: $font-md;
    cursor: pointer;
    @include smooth-transition;

    &:hover {
      background-color: color.adjust($primary-color, $lightness: -10%);
    }
  }
}
